{% extends 'base.html' %}
{% block title %}Example{% endblock %}
{% block css %}
<style>
    body      { font-family:Arial;}
    td        { border: 1px gray solid; padding: 5px;}
    table     { border-collapse: collapse; }
    div.src   { border:1px gray solid; 
                display: inline-block; 
                padding: 5px;
                font-family: Monaco Courier;
                font-size: 10px;}
    div.space { height: 10em; }
    pre       { border:1px gray solid; }
</style>
{% endblock %}
